
@{
    ViewData["Title"] = "Index";
}

@model List<ArticleDto>
<form asp-action="Index" method="post">
    <input type="text" name="searchString" />
    <input type="submit" value="搜索" id="search" />
    <table id="table-7">
        <tr>
            <th>标题</th>
            <th>内容</th>
            <th>url</th>
            <th>操作</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Content
                </td>
                <td>
                    @item.Url
                </td>
                <td>
                    <a class="glyphicon glyphicon-remove-sign" asp-action="Delete" asp-route-id="@item.Id"></a>
                    <a class="glyphicon glyphicon-chevron-down" asp-action="Detail" asp-route-id="@item.Id"></a>
                </td>

            </tr>
        }

    </table>
</form>
<div>
    <a asp-action="Create">新增文章</a>   
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {   
        $("#search").click(function () {
            var values = $("[name='searchString']").val();          
            $.ajax({
                type: "GET",
                url: "/Article/Index",
                data: { searchString: values },
                success: function () { 

                }
            });

        });

    });
    
</script>
<style>
    /* Table Head */
    #table-7 th {
        background-color: rgb(81, 130, 187);
        color: #fff;
        border-bottom-width: 0;
    }

    /* Column Style */
    #table-7 td {
        color: #000;
    }
    /* Heading and Column Style */
    #table-7 tr, #table-7 th, #table-7 td {
        border-width: 1px;
        border-style: solid;
        border-color: rgb(81, 130, 187);
    }

    /* Padding and font style */
     #table-7 td, #table-7 th {
        padding: 5px 10px;
        font-size: 15px;
        font-family: Verdana;
        font-weight: bold;
    }
   

</style>