
@{
    ViewData["Title"] = "Index";
}
@using MyWebSite.Domain.Entities;
@using MyWebSite.Application.Dto;
@model PaginatedList<User>

<form asp-action="Index">
    <div class="from-actions no-color">
        <input type="text" name="searchString" />
        <input type="submit" value="搜索" id="search" />
        <a asp-action="Index">Back To Full List</a>

    </div>
</form>
<table class="table" style="background-color:rgba(233, 231, 221, 0.15)">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">姓名</a>
            </th>
            <th>
                密码
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">用户名</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassWrod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNexPage ? "disabled" : "";
}
<div>
    <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-Page="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-Page="@(Model.PageIndex + 1) "
       asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-default @nextDisabled">
        Next
    </a>

    <select class="btn btn-default" id="pageSize">
        <option>1</option>
        <option>5</option>
        <option>10</option>
        <option>20</option>
        <option>50</option>
    </select>
</div>



<div>
    <a asp-action="Create">新增</a>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {
        $("#search").click(function () {
            var searchString = $("[name='searchString']").val();
            $.ajax({
                type: "get",
                url: "/User/Index",
                data: { searchString: searchString }
            });

        });

        $("#pageSize").change(function () {
            $.ajax({
                type: "post",
                url: "/User/Index/pageSize=",
                data: { pageSize: $(this).val() },
                success: function () {
                    //location.reload();

                }

            })
            //$.post("/User/Index", {pageSize:$(this).val()})
            //alert($(this).val());
        })
    });



</script>
