@{
    ViewData["Title"] = "Index";

}
@using MyWebSite.Application.DepartmentApp.Dtos;
@using MyWebSite.Domain.Dto
@using MyWebSite.ViewComponents

@model PagedResultDto<DepartmentDto>

<form asp-action="Index">
    <div class="from-actions no-color">
        <input type="text" name="searchString" />
        <input type="submit" value="搜索" id="search" />
        <a asp-action="Index" asp-controller="Home">返回</a>

    </div>
</form>
<table class="table" style="background-color:rgba(233, 231, 221, 0.15)">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">姓名</a>
            </th>
            <th>
                管理
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">创建时间</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateTime)
                </td>
                <td>
                    <a onclick="Edit('@item.Id')" data-toggle="modal" data-target="#edit_model">编辑</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">详细</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">删除</a>
                </td>
            </tr>
        }
    </tbody>   
  
</table>

<div>
    @await Component.InvokeAsync(typeof(DepartmentViewComponent), new { viewName = "Pagination", model = Model })
    <button class="btn btn-primary" data-toggle="modal" data-target="#create_modal">新增</button>
</div>
<div>
    @await Component.InvokeAsync(typeof(DepartmentViewComponent))
    @await Component.InvokeAsync(typeof(DepartmentViewComponent), new { viewName = "Edit", model = Model })
</div>
<script src="~/js/jquery.js"></script>
<script>
    //编辑
    function Edit(id) {
        $.ajax({
            type: "post",
            url: "/Department/GetById/",
            data: { id: id },
            success: function (department) {
                $("#name").val(department.name);
                $("#code").val(department.code);
                $("#manager").val(department.manager);
                $("#contactNumber").val(department.contactNumber);
            }

        })
    }
    $(function () {
        $("#search").click(function () {
            var searchString = $("[name='searchString']").val();
            $.ajax({
                type: "get",
                url: "/User/Index",
                data: { searchString: searchString }
            });
        });

        $("#pageSize").change(function () {
            $.ajax({
                type: "post",
                url: "/User/Index/pageSize=",
                data: { pageSize: $(this).val() },
                success: function () {
                    //location.reload();

                }

            })
            //$.post("/User/Index", {pageSize:$(this).val()})
            //alert($(this).val());
        });

        $("#index1").click(function () {
            $.ajax({
                type: "get",
                url: "User/Index",
                data: { page: "1", pageSize: "3" },

            })

        });
    });
</script>
